#home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding-left: 30px;
}
#posts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
#post{
    width: 30vw;
    height: 400px;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 12px 4px 26px 0px #0000000A;
    border-radius: 26px;
}

#description{
    display: flex;
    padding-left: 20px;
    align-items: center;
    box-sizing: border-box;
}

#image{
    width: 95%;
    padding: 4% 10px 0 10px;
    border-radius: 20px;
}
#title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #898989;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 650px) {
    #post{
        width: 300px;
    }
    h1{
        text-align: center;
    }
    #home{
        align-items: center;
    }
}