#nav{
    background-color: #F05A22;
    width: 100%;
    height: 70px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#page-title{
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    left: 10px;
}
#image-nav{
    height: 40px;
}
@media (max-width: 650px) {
    #nav{
        display: flex;
        flex-direction: column;
        height: 130px;
        gap: 0px;
    }
    #page-title{
        position: static;
    }
}